ADMIN_TOKEN=
SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=false
WEBSOCKET_ENABLED=true
DATABASE_URL=
TZ=America/New_York
DOMAIN=
WEB_VAULT_ENABLED=true
SMTP_HOST=protonbridge
SMTP_PORT=25
SMTP_FROM_NAME=VaultWarden
SMTP_FROM=
SMTP_SECURITY=off
SMTP_EXPLICIT_TLS=true
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTH_MECHANISM=Plain
SMTP_TIMEOUT=30
SIGNUPS_VERIFY=true
SIGNUPS_VERIFY_RESEND_TIME=3600
SIGNUPS_VERIFY_RESEND_LIMIT=6
SENDS_ALLOWED=true
SIGNUPS_DOMAINS_WHITELIST=
SMTP_DEBUG=false