---
###############################################################
#                   Authelia configuration                    #
###############################################################

jwt_secret: secret
default_redirection_url: https://home.montague.im

server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug

totp:
  issuer: montague.im

authentication_backend:
  file:
    path: /config/users_database.yml



access_control:
  default_policy: deny
  rules:
    - domain:
      - "auth.montague.im"
      policy: bypass
    - domain:
      - montague.im
      - "*.montague.im"
      policy: bypass
      resources:
        - "^/api([/?].*)?$"
      networks:
        - 192.168.0.0/16
        - 172.16.0.0/12
        - 10.0.0.0/8
    - domain:
      - montague.im
      - "*.montague.im"
      policy: one_factor



session:
  name: authelia_session
  secret: "secret"
  expiration: 3600  # 1 hour
  inactivity: 300  # 5 minutes
  domain: montague.im  # Should match whatever your root protected domain is
  remember_me_duration:  1M

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  encryption_key: "secret"
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
...